{{!-- Items --}}
{{#each list as |item index|}}
    {{yield (hash
        item=(component 'base-input-list-item' item=item deleter=(action 'delete' index))
    )}}
{{/each}}

{{!-- Add --}}
{{yield (hash
    adder=(component 'base-input-list-adder' item=newItem add=(action 'add'))
)}}