{{#if simple}}

    {{!-- Simple Zone --}}
    {{yield (hash
        loader=loader
        action=(action 'runAction')
    )}}

{{else}}

    {{!-- Full Zone --}}
    {{yield (hash
        button=(component 'base-loading-div')
        loader=loader
        action=(action 'runAction')
    )}}

    {{#if loader.loading}}
        {{yield (hash
            loading=(component 'base-loading-div')
            loader=loader
            action=(action 'runAction')
        )}}
    {{else if loader.error}}
        {{yield (hash
            error=(component 'base-loading-div')
            loader=loader
            action=(action 'runAction')
        )}}
    {{else if loader}}
    {{/if}}

{{/if}}